@font-face {
  font-family: dhr;
  src: url(DHR.ttf);
}

@font-face {
  font-family: exo;
  src: url(exo.ttf);
}

@font-face {
  font-family: ca;
  src: url(ca.ttf);
}

@font-face {
  font-family: raj;
  src: url(raj.ttf);
}

@font-face {
  font-family: bal;
  src: url(bal.ttf);
}

@font-face {
  font-family: kos;
  src: url(kos.ttf);
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes big {
  0% {
    background-size: 500px;
  }

  50% {
    background-size: 800px;
  }

  100% {
    background-size: 500px;
  }
}

.c {
  transform: scale(1);
  transition: transform 200ms ease;
}

a {
  text-decoration: none;
}

.si {
  height: 128px;
  width: 128px;
}

.si2 {
  height: 128px;
  width: 128px;
  filter: invert(1);
}

.button {
  background: #fe0;
  color: black;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  margin: 2px;
  font-size: 3rem;
  text-align: center;
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.2), 1px 1px 0px black, 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: box-shadow 400ms, color 200ms, text-shadow 500ms ease;
}

.button:hover .si {
  filter: invert(1);
}

.button:hover .si2 {
  filter: invert(0);
}

.button:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2), 1px 1px 0px black, 0px 0px 20px rgba(0, 0, 0, 0.2);
  background: black;
  color: #fe0;
  margin: 2px;
  text-align: center;
}

.wrapper {
  transform: rotate(-6deg);
  display: flex;
  flex-flow: wrap;
  position: relative;
  margin: auto;
  max-width: 800px;
}

.c:hover {
  transform: scale(1.1);
}

.o {
  background-image: url(line.svg);
  background-size: contain;
  background-position: top;
  color: black;
  filter: invert(1);
}

b {
  line-height: 1;
  padding: unset;
  margin: unset;
}

b:hover {
  animation: boop 0.2s linear infinite !important;
}

a {
  line-height: 1;
  padding: unset;
  margin: unset;
}

body {
  font-family: dhr;
  margin: unset;
  overflow:hidden;
}

nav {
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 2;
}

.portwrap {
  width: calc(80vw - 2rem);
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: calc(64px);
  position: absolute;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.pic-item {
  max-width: calc(100vh - 2rem);
  margin: 1rem auto;
  padding: 0rem 1rem;
  filter: saturate(0)invert(1)contrast(50);
}

.pic-item:hover {
  filter: saturate(1)invert(0)contrast(1);
}

.pic-item img {
  width: 100%;
}

.pics-wrap {
  width: 100vw;
}

.flex-item {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: calc(40vw - 1.65rem - 2px);
  height: calc(40vw - 1.65rem - 2px);
  border: 1px solid black;
  margin-bottom: 1.2rem;
  color: black;
  background-color: #fe0;
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  transition: color 200ms, background-image 200ms, background-color 200ms, filter 200ms ease;
  overflow: hidden;
}

.flex-item:hover {
  color: #fe0;
  background-color: black;
}

.flex-item:hover h1 {
  transform: scale(1.1);
  transition-delay: 0s;
}

.flex-item h1 {
  background-image: url(dot.png);
  background-size: 2.5px;
  font-size: 3rem;
  letter-spacing: 2px;
  transform: rotate(-45deg)scale(1.5);
  text-shadow: -5px 3px 10px rgba(0, 0, 0, 0.5);
  transition: transform 200ms ease;
  border-bottom: 1rem solid black;
  border-top: 0.25rem solid black;
  transition-delay: 1s;
}

.base1 {
  transform: rotate(5deg);
  text-shadow: 0px 0px 20px black;
  mix-blend-mode: overlay;
  margin: 0px;
  background-size: 8px;
  display: flex;
  flex-flow: column;
  font-size: 12vh;
  justify-content: center;
  padding-right: calc(20% + 0.25rem);
  position: fixed;
  text-align: right;
  height: 100vh;
  width: 100vw;
  line-height: 1;
  color: cyan;
}

.base2 {
  transform: rotate(5deg);
  mix-blend-mode: screen;
  margin: 0px;
  background-size: 8px;
  display: flex;
  flex-flow: column;
  font-size: 12vh;
  justify-content: center;
  padding-right: 20%;
  position: fixed;
  text-align: right;
  height: 100vh;
  width: 100vw;
  line-height: 1;
  background-size: 4px;
  color: coral;
  animation: slide 5s linear infinite;
}

.sd {
  background-image: url(https://serverdomes.com/app/uploads/2020/01/x-05157-3-1600x744.jpg);
  filter: saturate(0);
}

.sd:hover {
  filter: saturate(1);
}

.pb {
  background-image: url(https://pointblank.company/47.jpg);
  filter: saturate(0);
}

.pb:hover {
  filter: saturate(1);
}

.pe {
  background-size: contain;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(https://printppe.com/mask.png);
  filter: saturate(0);
}

.pe:hover {
  filter: saturate(1);
}

.tp {
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url(https://tibetanprayerflag.netlify.com/endless-knot.png);
  filter: saturate(0);
}

.tp:hover {
  filter: saturate(1);
}

.mq {
  display: flex;
  border-bottom: 1px dotted black;
  font-size: 36px;
  height: 63px;
  line-height: 1;
  flex-flow: wrap;
  justify-content: center;
  position: absolute;
  left: 64px;
  top: 0px;
  z-index: 1;
  overflow: hidden;
  width: calc(100vw - 64px);
  background-image: url(dash.png), linear-gradient(-135deg, black 0px, black 32px, #fe0 32px);
}

.mq h1 {
  text-shadow: -2px -2px 0px rgba(0, 0, 0, 0.5);
  color: black;
  font-size: 2rem;
  line-height: 64px;
  transition: color 100ms, text-shadow 100ms, letter-spacing 100ms linear;
}

.mq h1:hover {
  color: #fe0;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0px black;
}

.social-items {
  display: flex;
  width: auto;
  flex-flow: wrap;
  justify-content: space-between;
  overflow: hidden;
  transition: height 1s, width 100ms linear;
}

.social-item {
  height: 24px;
  width: 24px;
  margin: 1px;
  border-radius: 16px;
  border: 2px solid white;
  background-color: #01f;
  filter: invert(1);
  transition: filter 100ms, background-color 100ms linear;
}

.social-item-2 {
  height: 20px;
  width: 20px;
  margin: 1px;
  padding: 2px;
  border-radius: 16px;
  border: 2px solid black;
  background-color: #fe0;
  filter: invert(0);
  transition: filter 100ms, background-color 100ms linear;
}

.social-item:hover {
  filter: invert(0);
  background-color: black;
  border: 2px solid black;
  animation: boop 1s linear infinite;
}

.social-item-2:hover {
  filter: invert(1);
  background-color: white;
  border: 2px solid white;
  animation: boop 1s linear infinite;
}

@keyframes boop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes move {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 50%;
  }

  100% {
    background-position: 100%;
  }
}

@keyframes stretch {
  0% {
    padding-right: 0px;
  }

  49% {
    padding-right: 0px;
  }

  50% {
    padding-right: 10px;
  }

  51% {
    padding-right: 0px;
  }

  100% {
    padding-right: 0px;
  }
}

@keyframes c1a {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  11% {
    opacity: 0;
  }

  12% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  31% {
    opacity: 0;
  }

  32% {
    opacity: 1;
  }

  100% {
    display: none;
  }
}

@keyframes c1b {
  0% {
    display: inline-block;
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  11% {
    opacity: 0;
  }

  12% {
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  31% {
    opacity: 0;
  }

  32% {
    opacity: 1;
  }
}

@keyframes c1c {
  10% {
    display: inline-block;
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  21% {
    opacity: 0;
  }

  22% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  52% {
    opacity: 1;
  }
}

@keyframes c1d {
  0% {
    font-style: normal;
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  11% {
    opacity: 0;
  }

  12% {
    opacity: 1;
  }

  30% {
    opacity: 1;
    font-style: italic;
  }

  30.01% {
    opacity: 0;
  }

  30.02% {
    opacity: 1;
    font-style: normal;
  }

  100% {
    opacity: 0.8;
  }
}

.cole {
  transform: rotate(0deg);
  width: 6rem;
  text-align: right;
  padding-right: 0.5rem;
  z-index: 5;
  border-right: 1px dashed #fe0;
  margin-right: calc(50vw - 3rem);
  margin-top: calc(50vh + 1rem - 1px);
  margin-left: auto;
  height: inherit;
  margin-bottom: auto;
  border-top: 3px solid #fe0;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.2rem;
  box-shadow: 0px 0px #fe0f, 0px -0px #fe0e, 0px -0px #fe0d, 0px -0px #fe0c;
  transition: animation 1s, padding 1s, width 1s, border-top 1s, margin-right 1s, box-shadow 2s ease;
  transition-delay: 1s;
}

.cole:hover {
  width: 12rem;
  margin-right: calc(50vw - 6rem);
  border-top: 1px dashed #fe0;
  animation: border 4s ease infinite;
  box-shadow: 1px -1px #fe0f, 2px -2px #fe0e, 3px -3px #fe0d, 4px -4px #fe0c;
  transition-delay: 0s;
}

@keyframes border {
  0% {
    padding-left: 0rem;
  }

  25% {
    padding-left: 1rem;
    right: 1rem;
    padding-bottom: 0rem;
  }

  50% {}

  75% {
    padding-bottom: 1rem;
  }

  100% {}
}

.menu {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  top: 0px;
  left: 0px;
  width: 63px;
  height: 63px;
  color: black;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px dotted black;
  border-right: 1px dotted black;
  box-shadow: inset 3px 3px 0px black;
  transition: text-shadow 100ms, box-shadow 100ms, border-radius 100ms, background-color 100ms, color 100ms linear;
  background-image: linear-gradient(-45deg, black 0px, black 8px, transparent 8px);
}

.contact .o {
  animation: c1a 1s linear 1;
}

.contact .ca {
  animation: c1d 4s ease-in infinite;
}

.contact .c11 {
  animation: c1a 3s linear 1;
  display: inline-block;
  transition-delay: 2s;
  transition: display 3s linear;
}

.contact .c12 {
  animation: c1a 2s linear 1;
  display: inline-block;
  transition-delay: 2s;
  transition: display 3s linear;
}

.contact {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  line-height: 1;
  margin: unset;
  margin-top: 4px;
  color: white;
}

.contact:hover {
  cursor: pointer;
}

.contact b {
  margin: 2px;
  font-size: 2rem;
}

.contact:hover .c11 {
  transition-delay: 2s;
  animation: c1a 1s linear 1;
  display: none;
}

.contact:hover .c12 {
  transition-delay: 2s;
  animation: c1a 3s linear 1;
  display: none;
}

.contact .d1 {
  display: none;
  transition-delay: 2s;
  transition: display 3s linear;
}

.contact .d2 {
  display: none;
  transition-delay: 2s;
  transition: display 3s linear;
}

.contact .d3 {
  display: none;
  transition-delay: 2s;
  transition: display 3s linear;
}

.contact .d4 {
  display: none;
  transition-delay: 2s;
  transition: display 3s linear;
}

.contact .d5 {
  display: none;
  transition-delay: 2s;
  transition: display 3s;
}

.contact:hover .d2 {
  display: inline-block;
  transition-delay: 2s;
}

.contact:hover .d1 {
  display: inline-block;
  transition-delay: 2s;
  animation: c1b 2s linear 1;
}

.contact:hover .d2 {
  display: inline-block;
  transition-delay: 1s;
  animation: c1a 1s linear 1;
}

.contact:hover .d3 {
  display: inline-block;
  transition-delay: 2s;
  animation: c1b 2s linear 1;
}

.contact:hover .d4 {
  display: inline-block;
  transition-delay: 2s;
  animation: c1a 4s linear 1;
}

.contact:hover .d5 {
  display: inline-block;
  transition-delay: 2s;
  animation: c1b 3s linear 1;
}

.menu h1 {
  line-height: 0.88;
  font-weight: light;
  margin: 0px;
  font-size: 28px;
  pointer-events: none;
}

.menu:hover {
  box-shadow: inset 3px 3px 0px black, 0px 0px #000e, 0px 0px #000d, 0px 0px #000c, 0px 0px #000b, 0px 0px #000a, 0px 0px #0009, 0px 0px #0008, 0px 0px #0007, 0px 0px #0006, 0px 0px #0005, 0px 0px #0004, 0px 0px #0004, 0px 0px #0003, 0px 0px #0002, 0px 0px #0001;
  background-color: black;
  color: white;
}

.menu:hover .v1 {
  display: none;
}

.menu:hover .v2 {
  display: flex;
}

.menu .v1 {
  display: flex;
  text-align: center;
  width: 64px;
  flex-flow: row;
  justify-content: center;
}

.menu .v2 {
  display: none;
  text-align: center;
  width: 64px;
  flex-flow: row;
  justify-content: center;
  letter-spacing: 4px;
}

.menu:active {
  background-color: #fe0;
  color: black;
}

.menu-item {
  width: 63px;
  height: 32px;
  background: black;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  transition: color 100ms, background-color 100ms linear;
}

.menu-item-2 {
  width: 63px;
  height: 32px;
  background-color: transparent;
  color: black;
  border-right: 1px solid black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  transition: color 100ms, background-color 100ms linear;
}

.menu-link {
  border-top: 1px solid gray;
}

.menu-link:nth-child(1) {
  border-top: unset;
}

.menu-item-2 h1 {
  margin: 0px;
  line-height: 32px;
  pointer-events: none;
}

.menu-item:hover {}

.menu-item-2:hover {
  background-color: black;
  color: white;
  border-right: 1px dashed #fe0;
}

.menu-items a {
  height: 32px !important;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-decoration: none;
}

.tributton {
  z-index: 8;
  position: fixed;
  bottom: 4px;
  left: 4px;
  background-image: linear-gradient(45deg, white 60px, white 60px, transparent 60px, transparent 100%);
  height: 82px;
  width: 82px;
  display: block;
  overflow: hidden;
  border-radius: 2px;
  transition: height 100ms, width 100ms, background-image 100ms, transform 100ms, left 100ms, bottom 100ms ease;
}

.tributton2 {
  z-index: 8;
  position: absolute;
  bottom: 4.3px;
  left: 4.3px;
  background-image: linear-gradient(45deg, black 50px, black 50px, transparent 50px, transparent 100%);
  height: 80px;
  width: 80px;
  display: block;
  transition: height 100ms, width 100ms, background-image 100ms, transform 100ms, left 100ms, bottom 100ms ease;
}

.tributton:hover {
  bottom: 4.5px;
  left: 4.5px;
  transform: scale(1.05);
  background-image: linear-gradient(45deg, #fffa 60px, #fffa 60px, transparent 60px, transparent 100%);
}

.tributton:active {
  bottom: 3px;
  left: 3px;
  background-image: linear-gradient(45deg, #fe0 60px, #fe0 60px, transparent 60px, transparent 100%);
  transform: scale(0.98);
}

.video-wrapper {
  width: 100vw;
}

#dotty {}

.menu-items {
  border-bottom: 1px solid black;
  width: 64px;
  transition: height 100ms, opacity 100ms linear;
  background-image: linear-gradient(-45deg, black 0px, black 3px, #ffee00 3px);
  clip-path: polygon(100% 0, 100% calc(100% - 4px), calc(100% - 4px) 100%, 0 100%, 0 0);
}

.drop {
  transform: rotate(90deg)translatey(40px)translatex(31px);
  border-top: 2px solid gray;
  border-right: 1px dotted black;
  clip-path: polygon(calc(100% - 4px) 0%, 100% 4px, 100% 100%, 0 100%, 0 0);
  padding: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-transform: uppercase;
  font-size: 8px;
  letter-spacing: 4px;
  color: #fe0;
  line-height: 8px;
  text-shadow: 2px 1px 0px black;
  background-size: 5px;
}

.screen-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
}

.screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

@media screen and (max-width:100vh) {
  .pic-item {
    filter: saturate(1)invert(0)contrast(1);
  }
}

@media screen and (max-width:820px) {

  .button{font-size:1.5rem;}
  .flex-item {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: calc(80vw - 2rem - 2px);
    height: calc(80vw - 2rem - 2px);
    border: 1px solid black;
    margin-bottom: 1rem;
    background-position: center;
    background-size: cover;
    transition: color 200ms, background-image 200ms, background-color 200ms, filter 200ms ease;
  }

  .flex-item h1 {
    font-size: 10vw;
    letter-spacing: 2px;
    transform: scale(1);
    text-shadow: 0px 0px 1px black;
    transition: transform 200ms ease;
  }

  .mq {
    display: flex;
    border-bottom: 1px dotted black;
    font-size: 36px;
    height: 63px;
    line-height: 1;
    flex-flow: wrap;
    justify-content: flex-start;
    position: absolute;
    left: 64px;
    top: 0px;
    z-index: 1;
    overflow: hidden;
    width: calc(100vw - 64px);
    background-image: url(dash.png), linear-gradient(-135deg, black 0px, black 32px, #fe0 32px);
  }

  .mq h1 {
    text-shadow: -2px -2px 0px rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    line-height: 32px;
    transition: color 100ms, text-shadow 100ms, letter-spacing 100ms linear;
  }

  .sd {
    background-image: url(https://serverdomes.com/app/uploads/2020/01/x-05157-3-1600x744.jpg);
    filter: saturate(0);
  }

  .sd:hover {
    filter: saturate(1);
  }

  .base1 {
    font-size: 5rem;
  }

  .base2 {
    font-size: 5rem;
  }

  .pb {
    background-image: url(https://pointblank.company/47.jpg);
    filter: saturate(0);
  }

  .pb:hover {
    filter: saturate(1);
  }

  .pe {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: auto;
    background-image: url(https://printppe.com/mask.png);
    filter: saturate(0);
  }

  .pe:hover {
    filter: saturate(1);
  }

  .tp {
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url(https://tibetanprayerflag.netlify.com/endless-knot.png);
    filter: saturate(0);
  }

  .tp:hover {
    filter: saturate(1);
  }
}
